<div class="container">
  <app-exchange-rate></app-exchange-rate>

  <section class="mt-5">
    <legend>Purchase from argentinian peso</legend>
    <form [formGroup]="form" #f="ngForm" (ngSubmit)="submit()" novalidate>
      <div class="row">
        <div class="col-4 form-group">
          <label class="form-label" for="userId">User Id</label>
          <input
            class="form-control"
            placeholder="3fa85f64-5717-4562-b3fc-2c963f66afa6"
            formControlName="userId"
          />
        </div>
        <div class="col-4 form-group">
          <label class="form-label" for="currencyCode"> Currency</label>
          <ng-select
            placeholder="Select a currency"
            [items]="currencies"
            bindLabel="name"
            bindValue="code"
            formControlName="currencyCode"
          >
          </ng-select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-8 form-group">
          <label class="form-label" for="amount">Amount (ARS)</label>
          <input
            class="form-control"
            type="number"
            formControlName="amount"
            placeholder="330665"
          />
        </div>
      </div>
      <button
        class="btn btn-success mt-3"
        type="submit"
        [disabled]="f.invalid || f.submitted"
      >
        Submit
      </button>
      <button class="btn btn-secondary mt-3 ms-3" type="button">Clear</button>
    </form>
    <span>*All fields are required</span>
  </section>
  <section class="mt-5" *ngIf="lastTransaction$ | async as lastTransaction">
    <ngb-alert *ngIf="lastTransaction.transaction as transaction" type="info">
      Last Purchase Info:
      <ul>
        <li>UserId: {{ transaction.userId }}</li>
        <li>Currency: {{ transaction.currencyCode }}</li>
        <li>Amount (ARS): {{ transaction.amount }}</li>
        <li *ngIf="lastTransaction.amount as amount">
          Amount ({{ transaction.currencyCode }}): {{ amount }}
        </li>
        <li *ngIf="lastTransaction.exceeded">
          <p>Transaction exceeded maximum per month</p>
        </li>
      </ul>
    </ngb-alert>
  </section>
</div>
