<nav class="navbar navbar-expand-lg">
  <div class="container-fluid nav-div">
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="quote"
            (click)="isMenuCollapsed = true"
            >Quote</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="purchase"
            (click)="isMenuCollapsed = true"
            >Purchase</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
