<div *ngFor="let rate of rates$ | async" class="d-flex justify-content-start">
  <div class="w-25">
    <span>Currency: {{ rate.currency }}</span>
  </div>
  <div class="w-25">
    <span>Buy: {{ rate.rate.buy }}</span>
  </div>
  <div class="w-25">
    <span>Currency: {{ rate.rate.sell }}</span>
  </div>
</div>
