<header>
  <app-menu></app-menu>
</header>
<main>
  <ngx-spinner type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

  <router-outlet></router-outlet>
</main>
<footer>
  Virtual Mind Exchange evaluation by
  <a href="https://www.linkedin.com/in/ascazzola/" target="_blank">
    <b>Adriano Scazzola</b>
  </a>
</footer>
