<div class="container">
  <app-exchange-rate></app-exchange-rate>
  <div class="mt-3 d-flex">
    <button class="btn btn-primary" type="button" (click)="loadRates()">
      Reload
    </button>
  </div>
</div>
