@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary:  #2d7895;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

@import 'bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";


:root {
    --color-secondary: #65a3bd;
    --color-tertiary: #a3c7dc;
    --color-background-soft: #daeaf1;
    --color-white: #fafafa;
    --header-height: 90px;
    --footer-height: 30px;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-family: system-ui, sans-serif;
    background-color: var(--color-background-soft);
}
  
  
header app-menu {
    display: flex;
    background-color: $primary;
    color: var(--color-white);
    height: var(--header-height);
}
  
main {
    margin-top: 50px;
    height: calc(100vh - var(--footer-height) - var(--header-height));
}
  
footer {
    text-align: center;
    height: var(--footer-height);
}

.nav-div {
    background-color: $primary;
}

.nav-link {
    color: inherit;
}

.form-control.ng-select {
    border: none;
    padding: 0;
}