<div class="container-fluid">
  <h3>Simple app in Angular 2+ with two routes</h3>
  <ol class="routes-list" type="a">
    <li>
      <a routerLink="quote">/quote</a> Show the exchange rate of the dollar and
      real currencies by using the API developed in the previous step and a
      button for refreshing the exchange rates.
    </li>
    <li>
      <a routerLink="purchase">/purchase </a> List the same exchange rates on
      <b>a)</b> and a mini purchase form consisting of three text fields (user
      ID, currency, amount to purchase in pesos) and a button to create the
      transaction through our API. It also show the result of the transaction
    </li>
  </ol>
</div>
